# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Model weights or checkpoints
*.pt
*.pth
*.ckpt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
.DS_Store

# Datasets and large files
data/
datasets/
output/
results/
checkpoints/

# VS Code settings
.vscode/
